name: UT

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  vagrant:
    runs-on: macos-10.15

    steps:
      - uses: actions/checkout@v2

      - name: Cache Vagrant boxes
        uses: actions/cache@v2
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-${{ hashFiles('.github/Vagrantfile') }}

      - name: Show Vagrant version
        run: vagrant --version

      - name: Cache dependencies
        uses: actions/cache@v2
        env:
          cache-name: cache-cargo-dependencies
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
          key: ${{ runner.os }}-build-${{ env.cache-name }}

      - name: Run vagrant up
        working-directory: .github
        run: vagrant up

      - name: Run test
        working-directory: .github
        run: vagrant ssh -c 'export CARGO_INCREMENTAL=0; export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort"; export RUSTDOCFLAGS=-Cpanic=abort; cd /vagrant; cargo clean; sudo -E cargo test --all-features $CARGO_OPTIONS -- -Z unstable-options --test-threads 1'

      - name: Coverage
        uses: actions-rs/grcov@v0.1
        with:
          config: .github/grcov.yml

      - name: Upload to CodeCov
        uses: codecov/codecov-action@v2
        with:
          # required for private repositories:
          # token: ${{ secrets.CODECOV_TOKEN }}
          files: ./lcov.info
          fail_ci_if_error: true
          config: .github/codecov.yml
